@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    // Button outlines
    --gold-500: hsl(39, 89%, 49%);
    --gold-600: hsl(28, 76%, 44%);
    --blue-500: hsl(230, 89%, 62%);
    --blue-700: hsl(229, 64%, 46%); //score text
    --red-600: hsl(349, 71%, 52%);
    --red-800: hsl(347, 75%, 35%);
    --purple-600: hsl(261, 73%, 60%);
    --purple-700: hsl(261, 51%, 44%);
    --light-blue-400: hsl(189, 59%, 53%);
    --light-blue-500: hsl(194, 58%, 42%);

    // Neutral
    --navy-900: hsl(229, 25%, 31%); //dark text
    --gray-600: hsl(246, 11%, 37%); //header outline

    // Background gradient
    --radial-start: hsl(214, 47%, 23%);
    --radial-end: hsl(237, 48%, 15%);

    // Own additions
    --attribution: hsl(228, 45%, 44%);
    --gray-shadow: hsla(246, 11%, 37%, 0.25);
    --gray-shadow-2: hsla(237, 53%, 7%, 0.7);
    --circle-bg: hsl(220, 46%, 19%);
    --white: hsl(0, 0%, 98%);

    // Winner circle background
    --ring-3: rgba(34, 53, 85, 0.5);
    --ring-2: rgba(40, 57, 87, 0.5);
    --ring-1: rgba(45, 62, 92, 0.5);
}

$med : 31.25rem;
$lg : 61.25rem;

// RESETS
*,
*::before,
*::after,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// UTILS

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.hidden {
    display: none !important;
    position: relative;
}

// BASE

body {
    font-size: 100%;
    font-family: "Barlow Semi Condensed", sans-serif;
    color: var(--white);
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center top, var(--radial-start) 20%, var(--radial-end) 90%);
}

#root {
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

// MAIN

.game {
    position: relative;
    padding: 1.8125rem;
    width: 100%;
    height: 100%;

    margin: 0 auto;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6.25rem calc(100% - 6.25rem - 2.1875rem - 2.5625rem - 3.375rem); //minus the first row, the button and the spacing around it

    @media screen and (min-width:$lg) {
        padding: 2.875rem;
        grid-template-rows: 9.5625rem calc(100% - 9.5625rem);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border: 0.1875rem solid var(--gray-600);
        border-radius: 0.5rem;

        padding: 0.6875rem;

        max-width: 43.75rem;
        justify-self: center;
        width: 100%;

        @media screen and (min-width:$lg) {
            border-radius: 1rem;

            padding: 1rem;
        }

        h1 {
            font-size: 0.85rem;
            text-transform: uppercase;
            width: 4.6875rem;
            line-height: 0.8;
            margin-inline-start: 0.625rem;
            font-weight: 600;

            @media screen and (min-width:$med) {
                font-size: 1.25rem;
            }

            @media screen and (min-width:$lg) {
                font-size: 1.75rem;
            }
        }
    }

    &__score {
        height: 100%;
        width: 25%;
        background-color: var(--white);
        border-radius: 0.25rem;
        border: none;

        color: var(--blue-700);
        text-transform: uppercase;
        font-size: 0.625rem;
        font-weight: 600;
        letter-spacing: 0.125rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width:$med) {
            width: 23%;
        }

        @media screen and (min-width:$lg) {
            width: 23%;
            font-size: 1.125rem;
            border-radius: 0.5rem;
        }

        &--value {
            font-size: 2.5rem;
            color: var(--navy-900);
            font-weight: 700;
            line-height: 1;

            @media screen and (min-width:$lg) {
                font-size: 3.75rem;
            }

        }

    }

    &__rule-btn {
        position: absolute;
        bottom: 3.375rem;
        left: 50%;
        transform: translateX(-50%);

        width: 8rem;
        height: 2.5625rem;
        border: 0.0625rem solid hsla(0, 0%, 100%, 0.8);
        border-radius: 0.5rem;

        background-color: transparent;

        color: inherit;
        font-family: inherit;
        font-size: 1.125rem;
        font-weight: 500;
        letter-spacing: 0.125rem;
        text-transform: uppercase;

        transition: background-color 0.3s ease-in-out;

        @media screen and (min-width:$lg) {
            bottom: 1.875rem;
            left: unset;
            right: 2rem;
            transform: unset;
        }

        &:hover {
            cursor: pointer;
            background-color: hsla(0, 0%, 100%, 0.1);
        }

    }

    &__choice {
        width: 65%;
        max-width: 16.875rem;
        min-width: 12.1875rem;
        aspect-ratio: 1 / 1;

        justify-self: center;
        align-self: center;

        background-image: url(./assets/images/bg-pentagon.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        position: relative;

        @media screen and (min-width:$med) {
            max-width: 18rem;
        }

        @media screen and (min-width:$lg) {
            max-width: 19rem;
        }
    }

    &__results {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "user computer"
            "result result";
        align-items: center;
        column-gap: 1.8rem;
        row-gap: 4.5rem;

        align-self: end;

        font-size: 0.6125rem;
        text-transform: uppercase;
        letter-spacing: 0.125rem;


        @media screen and (min-width:$lg) {
            grid-template-columns: repeat(3, max-content);
            grid-template-rows: auto;

            grid-template-areas: "user result computer";

            align-self: start;
            padding-block-start: 3.5rem;
            justify-self: center;

            font-size: 1rem;

            column-gap: 4.625rem;
        }
    }
}

.choice {
    &__btn {
        --color: var(--gold-500);
        --accent: var(--gold-600);

        width: 6.0625rem;
        height: 6.0625rem;
        border-radius: 50%;
        border: none;
        box-shadow: inset 0 -0.25rem var(--accent), inset 0 0 0 0.75rem var(--color);

        display: flex;
        justify-content: center;
        align-items: center;


        @media screen and (min-width:$lg) {
            width: 8.75rem;
            height: 8.75rem;

            box-shadow: inset 0 -0.35rem var(--accent), inset 0 0 0 1rem var(--color);
        }

        &--wrapper {
            width: calc(100% - 1.5rem);
            height: calc(100% - 1.5rem);
            border-radius: 50%;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;

            box-shadow: inset 0 0.25rem var(--gray-shadow); //inner shadow

            @media screen and (min-width:$lg) {
                width: calc(100% - 2rem);
                height: calc(100% - 2rem);

                box-shadow: inset 0 0.35rem var(--gray-shadow);
            }

            img {
                width: 45%;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}

#scissors {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

#paper {
    position: absolute;
    top: 15%;
    right: 0;
    transform: translate(50%, 0);

    --color: var(--blue-500);
    --accent: var(--blue-700);

}

#rock {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(10%, 50%);

    --color: var(--red-600);
    --accent: var(--red-800);
}

#lizard {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-10%, 50%);

    --color: var(--purple-600);
    --accent: var(--purple-700);

    img {
        width: 55%;
    }
}

#spock {
    position: absolute;
    top: 15%;
    left: 0;
    transform: translate(-50%, 0);

    --color: var(--light-blue-400);
    --accent: var(--light-blue-500);
}

.results {
    &__user {
        grid-area: user;


        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;

        @media screen and (min-width:$lg) {
            flex-direction: column;
            gap: 5.5rem;

            margin-inline-end: 1.5rem;
        }

    }

    &__computer {
        grid-area: computer;


        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;

        @media screen and (min-width:$lg) {
            flex-direction: column;
            gap: 5.5rem;
        }

        .results__display--container {
            --color: var(--light-blue-400);
            --accent: var(--light-blue-500);
        }
    }

    &__result {
        grid-area: result;

        display: flex;
        flex-direction: column;
        align-items: center;

        transform: scale(0%);
        overflow: hidden;
        transition: transform 0.5s ease-in;

        @media screen and (min-width:$lg) {
            transition: opacity 1.5s ease-in;
            opacity: 0;
            height: 0;
            overflow: hidden;
            position: absolute;

            margin-inline-end: 1.5rem;
        }

        h2 {
            font-size: 3.25rem;
            padding-block-end: 1rem;

            @media screen and (min-width:$lg) {
                font-size: 3.5rem;
            }
        }

        &--shown {
            transform: scale(100%);

            @media screen and (min-width:$lg) {
                opacity: 1;
                height: auto;
                position: relative;
            }
        }
    }

    &__reset {
        width: 13.5625rem;
        height: 3.0625rem;

        font-family: inherit;
        text-transform: uppercase;
        font-size: 1.125rem;
        font-weight: 600;
        color: var(--gray-600);
        letter-spacing: 0.125rem;

        background-color: var(--white);
        border-radius: 0.5rem;
        border: none;

        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: rgb(105, 224, 245);
            color: var(--white);
        }
    }

    &__display {
        width: 6.875rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border: none;
        background-color: var(--circle-bg);

        display: flex;
        justify-content: center;
        align-items: center;

        box-shadow: 0;
        transition: box-shadow 0.5s ease-in;

        @media screen and (min-width:$med) {
            width: 9.5rem;
        }

        @media screen and (min-width:$lg) {
            width: 14rem;
        }

        &--shown {
            transform: scale(120%) !important;

            @media screen and (min-width:$lg) {
                transform: scale(135%) !important;
            }
        }

        &--container {
            width: 100%;
            transform: scale(0%);
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            border: none;

            overflow: hidden;
            transition: transform 0.5s ease-in;

            --color: var(--gold-500);
            --accent: var(--gold-600);

            box-shadow: inset 0 -0.25rem var(--accent), inset 0 0 0 0.75rem var(--color);

            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (min-width:$med) {
                box-shadow: inset 0 -0.375rem var(--accent), inset 0 0 0 1rem var(--color);
            }

            @media screen and (min-width:$lg) {
                box-shadow: inset 0 -0.5rem var(--accent), inset 0 0 0 1.5rem var(--color);
            }
        }

        &--wrapper {
            width: calc(100% - 1.5rem);
            height: calc(100% - 1.5rem);
            border-radius: 50%;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--white);

            box-shadow: inset 0 0.25rem var(--gray-shadow); //inner shadow

            @media screen and (min-width:$med) {
                width: calc(100% - 2rem);
                height: calc(100% - 2rem);
                box-shadow: inset 0 0.3125rem var(--gray-shadow); //inner shadow
            }

            @media screen and (min-width:$lg) {
                width: calc(100% - 3rem);
                height: calc(100% - 3rem);
            }

            img {
                width: 45%;
            }
        }
    }

    &__winner {
        box-shadow: 0 0 0 1.75rem var(--ring-1), 0 0 0 3.25rem var(--ring-2), 0 0 0 5rem var(--ring-3);
        z-index: -1;

        @media screen and (min-width:$lg) {
            box-shadow: 0 0 0 6rem var(--ring-1), 0 0 0 10rem var(--ring-2), 0 0 0 14.5rem var(--ring-3);
        }
    }
}

// MODAL

.rules {
    width: 100%;
    height: 100%;
    max-height: none;
    max-width: none;
    border: none;
    background-color: var(--gray-shadow-2);

    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        width: 100%;
        height: 100%;
        background-color: var(--white);

        padding-block-start: 3.875rem;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% 64% 21%;
        justify-items: center;
        align-items: center;

        grid-template-areas:
            "head"
            "rules"
            "close";

        @media screen and (min-width:$med) {
            width: 25rem;
            height: 28.875rem;
            border-radius: 0.5rem;

            padding-block-start: 0;
            padding: 2rem;

            grid-template-columns: 1fr 1fr;
            grid-template-rows: max-content auto;

            grid-template-areas:
                "head close"
                "rules rules";
        }
    }

    &__heading {
        grid-area: head;

        color: var(--navy-900);
        font-size: 2rem;
        text-transform: uppercase;

        @media screen and (min-width:$med) {
            justify-self: start;
            align-self: flex-start;
        }
    }

    &__img {
        grid-area: rules;
        width: 85%;

        @media screen and (min-width:$med) {
            width: 100%;
        }
    }

    &__close-btn {
        grid-area: close;
        background-color: var(--white);
        border: none;

        cursor: pointer;

        @media screen and (min-width:$med) {
            justify-self: end;
            align-self: flex-start;
        }
    }
}

// FOOTER
.attribution {
    width: 100%;
    background-color: var(--radial-end);
    font-size: 0.6875rem;
    text-align: center;
    padding: 1rem;

    a {
        color: var(--attribution);
    }
}